* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #111111;
  display: flex;
  justify-content: center;
  max-height: 200px;
}

header picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

header picture img {
  width: auto;
  height: 100%;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #222222;
  justify-content: space-evenly;
}

nav a {
  color: #a9a9a9;
  font-size: 2.2em;
  text-decoration: none;
  padding: 5px 30px;
  align-items: center;
  margin: 14px 0px;
}

nav a:hover {
  border-bottom: 2px solid #a9a9a9;
  margin: 12px 0px;
}

footer {
  background-color: #222222;
  padding: 1em;
  text-align: center;
  margin-top: auto;
}

footer span {
  font-size: 1.2em;
  color: #a9a9a9;
}

main {
  background-color: #c9c9c9;
  flex: auto;
  display: flex;
}

.fondo {
  flex: auto;
  background-image: url(/img/fondoInicio.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contenedor--productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.contenedor--productos .producto {
  height: 50em;
  width: 25em;
  background: #101010;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 1em black;
}

.contenedor--productos .acceso {
  width: 40em;
  height: 35em;
}
.producto picture {
  height: 70%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}
.producto picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.producto--nombre {
  color: #b9b9b9;
  font-size: 1.5em;
}

.producto--precio {
  color: #7c7c7c;
  font-size: 1.8em;
}

.producto--descripcion {
  color: #b9b9b9;
  font-size: 1.2em;
}
.producto--boton {
  display: flex;
  height: 3em;
  width: 80%;
  background-color: #ef3c34;
  color: #c9c9c9;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 2em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.producto--boton:hover {
  background-color: #bc2f28;
  cursor: pointer;
}

.contactos {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.formulario {
  background-color: #101010;
  margin: 2em;
  width: auto;
  min-height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c9c9c9;
  border-radius: 1em;
  box-shadow: 0px 0px 1em black;
}

.lista--productos {
  background-color: #101010;
  margin: 2em;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c9c9c9;
  border-radius: 1em;
  box-shadow: 0px 0px 1em black;
  font-size: 2em;
}

.formulario h3 {
  margin-top: 1em;
  font-size: 3em;
}

.formulario--campo {
  margin: 1em;
  font-size: 2.5em;
}

.formulario--campo input {
  background: none;
  outline: none;
  border-bottom: 2px solid #7c7c7c;
  margin-left: 2em;
  color: rgb(200, 200, 200);
}

.formulario--campo input:focus,
.formulario--campo textarea:focus {
  border-bottom: 2px solid #ef3c34;
}

.formulario--campo textarea {
  margin-left: 3em;
  background: none;
  outline: none;
  border-bottom: 2px solid #7c7c7c;
  color: rgb(200, 200, 200);
}

.formulario--campo input:hover,
.formulario--campo textarea:hover {
  border-bottom: 2px solid #ef3c34;
}

.formulario--boton {
  height: 3em;
  width: 20%;
  background-color: #ef3c34;
  color: #c9c9c9;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 2em;
  margin-bottom: 2em;
  margin-left: 3em;
}

.formulario--boton:hover {
  background-color: #bc2f28;
  cursor: pointer;
}

.contenedor--eventos button {
  width: 10em;
  height: 3em;
  background-color: #ef3c34;
  color: #c9c9c9;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 2em;
  margin: 1em;
}

.contenedor--eventos button:hover {
  background-color: #bc2f28;
  cursor: pointer;
}
.contenedor--empresa {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
}

.contenedor--empresa picture {
  max-height: auto;
  width: 35%;
  margin: 20px 0px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0px 0px 1em black;
}

.contenedor--empresa picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.texto--empresa {
  color: #c9c9c9;
  font-size: 1.9em;
  margin: 2em;
}

.contenedor--inicio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
}

.inicio--recomendado {
  height: 50em;
  width: 25em;
  background: #101010;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 1em black;
}

.inicio--recomendado picture {
  height: 70%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}
.inicio--recomendado picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recomendado--nombre {
  color: #b9b9b9;
  font-size: 1.5em;
}

.recomendado--precio {
  color: #7c7c7c;
  font-size: 1.8em;
}
.recomendado--boton {
  height: 3em;
  width: 80%;
  background-color: #ef3c34;
  color: #c9c9c9;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 2em;
  margin-bottom: 1em;
  text-decoration: none;
  padding-top: 0.8em;
}

.recomendado--boton:hover {
  background-color: #bc2f28;
  cursor: pointer;
}

.contenedor--recomendado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}
.contenedor--recomendado h2 {
  font-size: 2em;
  color: #c9c9c9;
}

.texto--inicio {
  color: #c9c9c9;
  font-size: 1.9em;
  margin: 2em;
}

.articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articulo button {
  padding-bottom: 1em;
  width: 50%;
}

.contenedor--administrador {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body::-webkit-scrollbar {
  display: none;
}
/* --------------------------- MEDIA QUERY --------------------------- */

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 1.5em;
    margin: 3px 0px;
  }

  nav a:hover {
    border-bottom: 2px solid #949494;
    margin: 2px 0px;
  }

  footer span {
    font-size: 0.8em;
  }

  .formulario--campo textarea {
    margin-left: 0em;
  }

  .formulario--campo input {
    margin-left: 0em;
  }
}
